@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1,h2{
    font-family: Roboto,sans-serif;
}
.marg {
    margin-bottom:1em;
}
.nav2 li {
    list-style-type:none;
}


@media screen and (max-width:776px){
    h1 {
        font-size:1rem;
    }
    .largeur {
        width: 25%;;
    }
    .move {
        float:right;
    }
}